LASoapService/src/main/resources/VM.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://localhost/laservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://localhost/laservice" targetNamespace="http://localhost/laservice">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://localhost/laservice">
			<xs:element name="vinInquiryRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="inquiryType" type="xs:string" />
						<xs:element name="vin" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VMInquiryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="vinInquiry" type="tns:vinInquiryInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="vinInquiryInfo">
				<xs:sequence>
					<xs:element name="inquiryType" type="xs:string" />
					<xs:element name="vin" type="xs:string" />
					<xs:element name="flag1" type="xs:string" />
					<xs:element name="flag2" type="xs:string" />
					<xs:element name="flag3" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="vinInquiryRequest">
		<wsdl:part element="tns:vinInquiryRequest" name="vinInquiryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="VMInquiryResponse">
		<wsdl:part element="tns:VMInquiryResponse" name="VMInquiryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LaPort">
		<wsdl:operation name="vinInquiry">
			<wsdl:input message="tns:vinInquiryRequest" name="vinInquiryRequest"></wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="VMInquiry">
			<wsdl:output message="tns:VMInquiryResponse" name="VMInquiryResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LaPortSoap11" type="tns:LaPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="vinInquiry">
			<soap:operation soapAction="" />
			<wsdl:input name="vinInquiryRequest">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="VMInquiry">
			<soap:operation soapAction="" />
			<wsdl:output name="VMInquiryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LaPortService">
		<wsdl:port binding="tns:LaPortSoap11" name="LaPortSoap11">
			<soap:address location="http://localhost:8080/la" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>